<div class="container text-center">
    <div class="col-8 position-absolute top-50 start-50 translate-middle">
        <h1 class="my-3">Olá, <%= user.name %>!</h1>
        <p class="lead">Você já está logado.</p>

        <div class="d-grid gap-2 col-6 mx-auto mt-4">
            <a href="/dashboard" class="btn btn-primary btn-lg">Ir para o Dashboard</a>
            <a href="#" class="btn btn-secondary btn-lg">Criar Novo Orçamento</a>
            <a href="/login/logout" class="btn btn-danger">Sair</a>
        </div>
    </div>
</div>