<%- include('includes/head')%>
<div class="container">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
            <h1 class="mb-4">Bem-vindo ao Sistema de Orçamento</h1>
            <p class="lead mb-4">Gerencie seus orçamentos de forma simples e eficiente.</p>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="#" class="btn btn-primary btn-lg">Login</a>
                <a href="#" class="btn btn-secondary btn-lg">Cadastre-se</a>
            </div>
        </div>
    </div>
</div>
<%- include('includes/footer')%>

